{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-filename-extension": ["error", {
      "extensions": [ ".jsx", ".spec.js" ]
    }],
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-expressions": "off",
    "chai-friendly/no-unused-expressions": "error",
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5"
    }]
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "chai-friendly",
    "prettier"
  ],
  "settings": {
    "import/resolver": { "babel-module": {} }
  }
}
